# <center>Simple Popularity-Based Recommender system<center/>

**Introduction:**
Popularity-based recommender system is widely used by many industries for example news corporations like New-York times or Bloomberg use user activity data to determine most read or most shared news articles then recommend it to their customers. E-commerce companies also use it as a form of collaborative filtering items based how items are popular to their customers.
The dataset for this project is hosted in UC Irvine and originally published by university on workshop on Context Aware Recommender Systems.
https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

In [5]:
# import libraries
import pandas as pd
import numpy as np

# import data
frame = pd.read_csv('..Datasets//rating_final.csv')
cuisine = pd.read_csv('..Datasets//chefmozcuisine.csv')

In [6]:
frame.head() # printing rating_fial table head

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

Each restourant get a rating between 0 and 2 where 0 is the lowest and 2 is the highest rating

In [7]:
cuisine.head() # printing cuisine head

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Recommending based on counts

First, we will do recommendation by simple counting. To find the place that is most popular we will count the number of rating each place has got and convert it into a dataframe

In [8]:
# counting the rating
rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())

# sorting ratings
rating_count.sort_values('rating', ascending=False).head()

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

The place that has got the most ratings has a placeID of 135085 with 36 ratings.

Next, let us see the top 5 most rated places to see if they have any similarities.

In [10]:
# most rated
most_rated_places = pd.DataFrame([135085, 132825, 135032, 135052, 132834], index=np.arange(5), columns=['placeID'])

# merging most_rated_places dataframe with cousine dataframe
summary = pd.merge(most_rated_places, cuisine, on='placeID')
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

Now, let us see how many types of cousines are available from places in this dataset in total.

In [11]:
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

As you can see we have got 59 unique types of cousines in this dataset and the most popular ones are Mexican. Hence the recommender system is suggesting that Mexican food is popular and places that serve them are good candidates for recommending.